<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770927907053-9g0fqo32lvlpcrbkshtukahrta0cjenq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770927907053-9g0fqo32lvlpcrbkshtukahrta0cjenq</string>
	<key>API_KEY</key>
	<string>AIzaSyAscD1hSKH9M35yNnkmoNYI6WLmm5ksWU4</string>
	<key>GCM_SENDER_ID</key>
	<string>770927907053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studentsmobile.studentsMobile</string>
	<key>PROJECT_ID</key>
	<string>educational-platform-8dd63</string>
	<key>STORAGE_BUCKET</key>
	<string>educational-platform-8dd63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770927907053:ios:373c6b14df5b5750f87ce4</string>
</dict>
</plist>